<!--
  Generated template for the WeekCalendar component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-grid>
  <ion-row>
    <ion-col width-11 center>
      <div><ion-icon name="arrow-back"></ion-icon></div>
    </ion-col>
    <ion-col width-11>
      <div>
        Lun 11
      </div>
    </ion-col>
    <ion-col width-11>
      <div>
        Mar 12
      </div>
    </ion-col>
    <ion-col width-11>
      <div>
        Mier 13
      </div>
    </ion-col>
    <ion-col width-11>
      <div>
        Jue 14
      </div>
    </ion-col>
    <ion-col width-11>
      <div>
        Vier 15
      </div>
    </ion-col>
    <ion-col width-11>
      <div>
        Sab 16
      </div>
    </ion-col>
    <ion-col width-11>
      <div>
        Dom 17
      </div>
    </ion-col>
    <ion-col width-11 center>
      <div><ion-icon name="arrow-forward"></ion-icon></div>
    </ion-col>
  </ion-row>
</ion-grid>
